%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

#pagination

#change_pagination
  %a{:href => "#"} Press me please

%br

= link_to 'New User', new_user_path

:javascript
  $(document).ready(function(e) {
    $.ajax({
      url: '/users',
      dataType: 'script'
    })
  });

  $('#change_pagination a').click(function(e) {
    e.preventDefault();
    $.ajax({
      url: '/all_users',
      dataType: 'script',
    })
  });

I tried to do this in this way:

First make a new method in the controller where you're assigning the value to your `@transactions`, so you have the main method, and a new one where you'll assign the value you want to have with the click event:

      def index
        @transactions = User.order(:id).page(params[:page]).per(5)
        respond_to :html, :js
      end
    
      def all_transactions
        @transactions = User.order(:id).page(params[:page]).per(50)
        respond_to :html, :js
      end

Then you create a div, which will have the content of the pagination, the `paginate @transaction`, and some element which to click and fire the AJAX event.

    #pagination
    
    #change_pagination
      %a{:href => "#"} Press me please

Then the JS code

